{% extends "base.html.twig" %}

{% block body %}
    <h1>
        <i class="fa fa-print" aria-hidden="true"></i>
        {% trans %}Triagem{% endtrans %}
        <small>{% trans %}Emissão de senhas{% endtrans %}</small>
    </h1>
    <div id="triagem" v-cloak>
        <div id="infobar" class="row">
            <div class="col-md-10 col-xs-9">
                <form role="form" onsubmit="return false">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-user"></i>
                            </span>
                            <label for="cliente-nome" class="sr-only">{% trans %}Nome{% endtrans %}</label>
                            <input type="text" id="cliente-nome" class="form-control" maxlength="100" placeholder="{% trans %}Nome{% endtrans %}" v-model="cliente.nome" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-credit-card"></i>
                            </span>
                            <label for="cliente-documento" class="sr-only">{% trans %}Documento{% endtrans %}</label>
                            <input type="text" id="cliente-documento" class="form-control" maxlength="11" placeholder="{% trans %}Documento{% endtrans %}" v-model="cliente.documento" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-xs-3">
                <div class="ultima-senha" title="{% trans %}Última senha{% endtrans %}" v-if="ultimaSenha">
                    <span class="label label-default" ng-class="{ 'label-default': ultimaSenha.prioridade==0, 'label-danger': ultimaSenha.prioridade.peso>0 }">
                        <span class="glyphicon glyphicon-print"></span>&nbsp;
                        {%- verbatim -%}
                            {{ultimaSenha.senha.format}}
                        {%- endverbatim -%}
                    </span>
                </div>
            </div>
        </div>

        <div id="triagem-servicos" class="row">
            <div class="triagem-servico col-md-6" v-for="su in servicosHabilitados">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" v-on:click.prevent="showServicoInfo(su.servico.id)">
                            {%- verbatim -%}
                                {{su.sigla}} - {{su.servico.nome}}
                            {%- endverbatim -%}
                        </a>
                        <span class="badge">
                            <abbr class="total" title="{% trans %}Aguardando atendimento{% endtrans %}">
                                {%- verbatim -%}
                                    {{totais[su.servico.id] ? totais[su.servico.id].fila : '-'}}
                                {%- endverbatim -%}
                            </abbr>
                            &nbsp;/&nbsp;
                            <abbr class="total" title="{% trans %}Total de senhas do serviço{% endtrans %}">
                                {%- verbatim -%}
                                    {{totais[su.servico.id] ? totais[su.servico.id].total : '-'}}
                                {%- endverbatim -%}
                            </abbr>
                        </span>
                        <span class="buttons pull-right">
                            <button class="btn btn-primary" title="{% trans %}Distribuir senha normal{% endtrans %}" v-on:click.prevent="distribuiSenhaNormal(su.servico.id)">
                                {% trans %}Normal{% endtrans %}
                            </button>
                            {% if prioridades|length %}
                                <button class="btn btn-danger" title="{% trans %}Distribuir senha com prioridade{% endtrans %}" v-on:click.prevent="showPrioridades(su.servico.id)" v-if="su.prioridade">
                                    {% trans %}Prioridade{% endtrans %}
                                </button>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <p v-if="!servicos.length">
                {% trans %}Nenhum serviço habilitado para a unidade atual{% endtrans %}
            </p>
        </div>
        <p class="links">
            <a href="#dialog-busca" class="btn btn-default" data-toggle="modal">
                <span class="glyphicon glyphicon-search"></span>&nbsp;
                {% trans %}Consultar senha{% endtrans %}
            </a>
            <a href="#dialog-triagem-config" class="btn btn-default" data-toggle="modal">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;
                {% trans %}Configuração{% endtrans %}
            </a>
        </p>

        {# iframe para impressao, evitando popup #}
        <iframe id="frame-impressao" width="300" height="150" style="display:none"></iframe>

        {# dialog para exibir a senha gerada #}
        <div id="dialog-senha" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Senha|Bilhete{% endtrans %}</h4>
                    </div>
                    <div class="modal-body" v-if="atendimento">
                        <div class="field">
                            <h4>{% trans %}Número{% endtrans %}</h4>
                            <p class="numero">
                                {%- verbatim -%}
                                    {{atendimento.senha.format}}
                                {%- endverbatim -%}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Serviço{% endtrans %}</h4>
                            <p class="servico">
                                {%- verbatim -%}
                                    {{atendimento.servico.nome}}
                                {%- endverbatim -%}
                            </p>
                        </div>
                        <div class="field">
                            <h4>{% trans %}Prioridade{% endtrans %}</h4>
                            <p class="nome-prioridade">
                                {%- verbatim -%}
                                    {{atendimento.prioridade.nome}}
                                {%- endverbatim -%}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# dialog de configuracao #}
        <div id="dialog-triagem-config" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Configuração{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <h4>{% trans %}Exibir serviços{% endtrans %}</h4>
                        <div class="row exibir-servicos">
                            <div class="col-sm-6" v-for="su in servicos">
                                <div class="triagem-servico col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-bind:value="su" v-model="servicosHabilitados" v-on:change="saveConfig"> 
                                            {% verbatim %}
                                                {{ su.sigla }} - {{ su.servico.nome }}
                                            {% endverbatim %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# dialog para exibir informacoes do servico #}
        <div id="dialog-servico" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Serviço{% endtrans %}</h4>
                    </div>
                    <div class="modal-body" v-if="servicoInfo">
                        <div>
                            <h4>{% trans %}Última senha{% endtrans %}</h4>
                            <p class="ultima-senha">
                                <span>
                                    {%- verbatim -%}
                                        {{servicoInfo.senha}}
                                    {%- endverbatim -%}
                                </span>
                                <button class="btn btn-default" title="{% trans %}Reimprimir{% endtrans %}" 
                                        v-on:click.prevent="print({ id: servicoInfo.senhaId })" v-if="servicoInfo.senhaId">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </p>
                        </div>
                        <div>
                            <h4>{% trans %}Nome original do serviço{% endtrans %}</h4>
                            <p class="nome">
                                {%- verbatim -%}
                                    {{servicoInfo.nome}}
                                {%- endverbatim -%}
                            </p>
                        </div>
                        <div>
                            <h4>{% trans %}Descrição{% endtrans %}</h4>
                            <p class="descricao">
                                {%- verbatim -%}
                                    {{servicoInfo.descricao}}
                                {%- endverbatim -%}
                            </p>
                        </div>
                        <div>
                            <h4>{% trans %}Subserviços{% endtrans %}</h4>
                            <ul class="subservicos notempty" v-if="servicoInfo.subservicos.length">
                                <li v-for="servico in servicoInfo.subservicos">
                                    {%- verbatim -%}
                                        {{servico}}
                                    {%- endverbatim -%}
                                </li>
                            </ul>
                            <ul class="subservicos empty" v-if="!servicoInfo.subservicos.length">
                                <li>{% trans %}Não há subserviços{% endtrans %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# dialog para escolher a prioridade da senha #}
        <div id="dialog-prioridade" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Prioridade{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for prioridade in prioridades %}
                                <li>
                                    <label>
                                        <input type="radio" name="prioridade" value="{{ prioridade.id }}" v-model="prioridade">
                                        {{ prioridade.nome }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click.prevent="distribuiSenhaPrioritaria">
                            {% trans %}Gerar prioridade{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# busca #}
        <div id="dialog-busca" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Busca{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" role="form" v-on:submit.prevent="consultar">
                            <div class="form-group">
                                <input type="text" maxlength="10" class="form-search form-control" placeholder="{% trans %}Número{% endtrans %}" v-model="search">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                {% trans %}Consultar{% endtrans %}
                            </button>
                        </form>
                        <div class="result">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Número{% endtrans %}</th>
                                        <th>{% trans %}Serviço{% endtrans %}</th>
                                        <th>{% trans %}Data chegada{% endtrans %}</th>
                                        <th>{% trans %}Data início{% endtrans %}</th>
                                        <th>{% trans %}Data fim{% endtrans %}</th>
                                        <th>{% trans %}Triagem{% endtrans %}</th>
                                        <th>{% trans %}Atendente{% endtrans %}</th>
                                        <th>{% trans %}Situação{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% verbatim %}
                                        <tr v-for="a in searchResult">
                                            <td>
                                                {{a.senha.format}}
                                            </td>
                                            <td>
                                                {{a.servico.nome}}
                                            </td>
                                            <td>
                                                {{a.chegada}}
                                            </td>
                                            <td>
                                                {{a.inicio}}
                                            </td>
                                            <td>
                                                {{a.fim}}
                                            </td>
                                            <td>
                                                {{a.triagem}}
                                            </td>
                                            <td>
                                                {{a.usuario}}
                                            </td>
                                            <td>
                                                {{a.status}}
                                            </td>
                                        </tr>
                                    {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgatriagem/css/style.css') }}">
{% endblock %}    

{% block javascripts %}
    {{ parent() }}
    <script>
        var servicos = {{ servicos|json_encode()|raw }},
            prioridades = {{ prioridades|json_encode()|raw}},
            unidade = {{ unidade.id }};
    </script>
    <script type="text/javascript" src="{{ asset('bundles/novosgatriagem/js/script.js') }}"></script>
{% endblock %}